body {
    padding-top: 50px; /* Adjust the padding to match the height of the navbar */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 40px; /* Adjust the padding to add space to the sides and reduce the height */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the navbar is above other content */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.navbar-left {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.MadeByAnxo {
    font-size: 1rem;
    font-style: italic;
    color: darkgrey;
    margin-left: 5px; /* Add distance from the button on the left */
    pointer-events: auto; /* Ensure the link is clickable */
    text-decoration: none; /* Remove underline */
}

.MadeByAnxo:hover {
    text-decoration: none; /* Ensure no underline on hover */
    color: darkgrey; /* Ensure the color does not change on hover */
}

.ButtonLogo {
    font-size: 1.5rem; 
    padding: 8px 15px; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: font-size 0.15s ease, background-color 0.15s ease;
    border: none; /* Ensure no border is applied */
}

.ButtonLogo:hover {
    font-size: 1.5rem; /* Increase font size on hover */
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
}

.navbar-right span {
    font-size: 1rem;
}

.navbar-right button {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap; /* Prevent text from wrapping */
}

.navbar-right button:hover {
    background-color: #b3b3b3;
}

.navbar-right button img {
    margin-left: 8px; /* Adjust the margin as needed */
}

.sign-out-icon {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px; /* Reduce the padding on smaller screens */
    }
    .navbar-left {
        font-size: 1.2rem; /* Adjust the font size for smaller screens */
    }
    .navbar-right button {
        padding: 8px 10px; /* Adjust the button padding for smaller screens */
    }
}
